body {
  background-color: #ffffff;
}

h1 {
  font-family: Helvetica, Arial;
  color: #000000  
}

#btn {
  margin-left: 550px;
  width: 200px;
  height: 100px;
  font-size: 2em;
  border-radius: 10px;
  background: #ffffff;
}

#btn:hover {
  background: #007fff;
  color: #ffffff;
}